Source: timetabler
Section: devel
Priority: optional
Maintainer: Prateek Kumar <prateek@prateekkumar.in>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/GoodDeeds/Timetabler
Vcs-Git: https://github.com/GoodDeeds/Timetabler.git
Vcs-Browser: https://github.com/GoodDeeds/Timetabler

Package: timetabler
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Encode timetabling constraints as a SAT formula and solve using a MaxSAT solver to generate a Timetable for IITH
